* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #202020;
  color: #fafafa;
}

h1 {
  color: #fafafa;
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#inputTarefa {
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: none;
  border-radius: 6px;
}

#bntAdicionar {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px auto;
}

#bntAdicionar:hover {
  background-color: #4caf50cc;
}
